
@{
    ViewData["Title"] = "Index";
}

<h3>Cliente</h3>

<table class="table table-bordered">    
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th>Descrição</th>
            <th>Profissão</th>
        </tr>
    </thead>

    @{
        foreach (var item in (List<ClienteModel>)ViewBag.ListaCliente)
        {
            <tbody>
                <tr>

                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>@item.Cpf.ToString()</td>
                    <td>@item.Rg.ToString()</td>
                    <td>@item.Data_Nascimento.ToString()</td>
                    <td>@item.Endereco.ToString()</td>
                    <td>@item.Bairro.ToString()</td>
                    <td>@item.Cidade.ToString()</td>
                    <td>@item.Telefone.ToString()</td>
                    <td>@item.Celular.ToString()</td>
                    <td>@item.Descricao.ToString()</td>
                    <td>@item.Profissao.ToString()</td>
                </tr>
            </tbody>
        }        
    }

</table>

<button type="button" class="btn btn-block btn-primary" onclick="CriarCliente()">Cadastrar Clinte</button>

<script>
    function CriarCliente()
    {
        window.location.href = "../Cliente/CadastrarCliente";        
    }

    function Excluir(id_Cliente)
    {        
        window.location.href = "../Cliente/ExcluirCliente/" + id_Cliente; 
    }
</script>