@model ConsultaModel

@{
    ViewData["Title"] = "CriarConta";
}

<h3>Criar Consulta</h3>

<form asp-controller="Consulta" asp-action="CriarConsulta">
    <div class="form-group">
        <label>Nome do Cliente:</label>
        <select asp-for="Cliente_Id" class="form-control">
            @{
                foreach (var item in (List<ClienteModel>)ViewBag.ListaCliente)
                {
                    <option value="@item.Id.ToString()">@item.Nome.ToString()</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tipo de Nome:</label>
        <select asp-for="Id_servico" class="form-control">
            @{
                foreach (var item in (List<ServicoModel>)ViewBag.ListaServico)
                {
                    <option value="@item.Id.ToString()">@item.Nome.ToString()</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <select asp-for="Id_servico" class="form-control">
            @{
                foreach (var item in (List<ServicoModel>)ViewBag.ListaServico)
                {
                    <option value="@item.Id.ToString()">@item.Nome.ToString()</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Data consulta:</label>
        <input type="date" class="form-control" asp-for="Data_consulta">
        <span asp-validation-for="Data_consulta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Observações:</label>
        <input type="text" class="form-control" asp-for="Observacao">
        <span asp-validation-for="Observacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Funcioario:</label>
        <select asp-for="Funcioario_Id" class="form-control">
            @{
                foreach (var item in (List<FuncionarioModel>)ViewBag.ListaFuncionario)
                {
                    <option value="@item.Id.ToString()">@item.Nome.ToString()</option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Forma de pagameto:</label>
        <select asp-for="Pagamento_Id" class="form-control">
            @{
                foreach (var item in (List<PagamentoModel>)ViewBag.ListaPagamento)
                {
                    <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>

                }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-block btn-success">Registrar Consulta</button>

</form>